Pseudo
   h2:hover {
       color: red
   }


#header:hover {
    background: lightblue;
    color: peru;
    padding: 100px;


  a:link {
    color: purple;
   }

a:visited {
    color: green;
}

a:active{
    color: black;
} 




 header{
    position: static;
    border: 2px dotted red;
} 






#header h2{
    position: absolute;
    width: 500px;
    height: 300px;
    border: 1px dashed green;
    top: 50px;
    right: 0px;
    left: 100px;
} 

#nav{
    background: lightgoldenrodyellow;
    margin: 10px auto;
    padding: 5px;
    position: sticky;
    top: 0px;
}

#nav ul {
    margin: 10px auto;
}
#nav ul li{
    display: inline-block;
    font-weight: bold;
}

#para{
    position: sticky;
    bottom: 50px;
    background: blue;
    color: white;
}